@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 100px;
  align-items: center;
}

.pessoa{
  width: 375px;
}

.pessoa > img {
  width: 200px;
}

.pessoa > h2 {
  font-size: 12pt;
  color: #7b67a9;
  margin: 0;
  margin-top: 6px;
}

.pessoa > h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 11pt;
  font-weight: normal;
  color: #62636d;
}

.pessoa > a {
  text-decoration: none;
  outline: none;
  display: flex;
  margin: 8px 0;
  width: 100%;
}

.pessoa > a div {
  width: 26px;
  display: flex;
}

.pessoa > a img {
  width: auto;
  height: 13pt;
}

.pessoa > a p {
  margin: 0;
  font-size: 11pt;
  line-height: 11pt;
  color: #313746;
  line-break: loose;
  text-decoration: none;
}

.pessoa > div {
  display: flex;
  width: 100%;
  margin-top: 12px;
}

.pessoa > div img{
  width: 16pt;
  margin-right: 8px;
}